#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica ;
}

#btncontainer{
    text-align: center;    
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    color: white;
    background-color: hsl(194, 66%, 63%);
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(197, 78%, 33%);
}